@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    /*SideBar*/
    .parent_container {
        @apply flex flex-col items-center justify-center
    }

    .child_container {
        @apply flex flex-col mb-5  md:flex-row justify-center items-center  md:flex-wrap
    }

    .sidebar_router {
        @apply flex items-center p-2 rounded transition-colors hover:bg-black/30 hover:cursor-pointer
    }

    /*Table*/
    .managmenet_container {
        @apply bg-white border-2 p-4 rounded-lg shadow animate-fade-in-down mx-auto  md:w-auto
        md:max-w-full sm:overflow-x-auto lg:overflow-visible overflow-x-auto
    }

    .table_tag {
        @apply table-auto w-full overflow-x-auto border-r-2 border-l-2
    }

    .table-body {
        @apply font-medium
    }

    .table-header {
        @apply text-3xl font-semibold sm:ml-6 md:ml-0
    }

    .view_title {
        @apply text-xl  md:text-3xl font-semibold
    }

    .create_button {
        @apply py-2 px-2 md:py-2 md:px-4 border border-transparent text-xs font-semibold
        rounded-md text-white bg-indigo-600 hover:bg-indigo-700
        focus:outline-none focus:ring-2 focus:ring-offset-2
        focus:ring-indigo-500
    }

    /*End oF Table*/

}
